<a href="https://colab.research.google.com/github/jiyeonjin/0624_new/blob/main/0625_python_define_%26_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def my_function():
  print("Hello from a function")

def는 함수 정의할 때 쓰는 키워드.

my_function()을 실행하면 print() 문이 실행되어 **"Hello from a function"**이 출력된다.

In [1]:
def my_function():
  print("Hello from a fuction")

my_function()

Hello from a fuction

def my_function(fname):	fname이라는 이름의 매개변수를 받는 함수 정의

이 함수는 fname 자리에 다른 이름을 넣어 호출하면, "이름 Refsnes" 형식으로 출력해주는 함수이다.

In [3]:
def my_function(fname):
  print(fname+"Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

EmilRefsnes
TobiasRefsnes
LinusRefsnes

1.함수는 여러 개의 입력값(인자)을 받을 수 있다.

2.fname과 lname은 각각 함수 안에서 사용할 수 있는 변수가 된다.

이 함수는 이름과 성을 받아서 둘을 붙여 출력하는 함수.

In [4]:
def my_function(fname, lname):
  print(fname+" "+lname)

my_function("Emil","Refsnes")

Emil Refsnes

문자열과 세 번째 아이 이름을 붙여서 출력함

In [5]:
def my_function(*kids):
  print("The youngest child is" + kids[2])

my_function("Emil","Tobias","Linus")

The youngest child isLinus



x = 5는 초기값 역할을 하는 클래스 변수이다.

p1이라는 **객체(인스턴스)**를 만든 뒤, x값을 출력하면 5가 나온다.

MyClass라는 틀로 p1이라는 객체를 만들고, 그 안에 들어 있는 x라는 값을 꺼낸 것이다.

In [6]:
class MyClass:
  x=5

p1=MyClass()
print(p1.x)

5

In [7]:
p1=MyClass()
print(p1.x)

5

클래스 만들기 → __init__으로 초기화 → 인스턴스 변수 설정하고 → 객체 만들고 → 속성 접근해서 사용

In [8]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

p1=Person("John",36)

print(p1.name)
print(p1.age)

John
36

print(p1) -> 객체 자체 출력(기본값은 메모리 주소 형태), __str__ 추가 -> 사람이 읽기 좋게 하기 위함

In [9]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

p1=Person("John",36)

print(p1)

<__main__.Person object at 0x7d9051993850>

__str__ 없으면 → <__main__.Person object at 0x...> 출력됨

__str__ 있으면 → 우리가 지정한 문자열이 출력됨 (John(36)처럼)

In [10]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def __str__(self):
    return f"{self.name}({self.age})"

p1=Person("John",36)

print(p1)

John(36)

p1.myfunc()은 "Hello my name is John"을 출력하는 메서드를 실행한 것이다.

객체에 동작(기능)을 추가하고 싶을 때 이렇게 메서드를 만들어서 쓸 수 있다.

In [11]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def myfunc(self):
    print("Hello my name is" + self.name)

p1=Person("John",36)
p1.myfunc()

Hello my name isJohn